<div class="row" style="height:675px;" >
    <div class="col-md-5">
        <center>
        <img style="img img-responsive" src="/linked.jpg" height="400" width="520"/>
        </center>
    </div>
    <div class="col-md-5" style="margin-left: 100px;">
        <h1>Additional Details</h1>
        {{#if hasErrors }}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{ this }}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/HR" method="post" enctype="multipart/form-data">
               <div class="form-group">
               Welcome {{this.name}}
                <label for="file" >Technical Avidance</label>
              
                <input type="hidden" name="userid" id="userid" value="{{this.userid}}">
                  <input type="file" required="required" id="technicalavidance" class="form-control" name="file"   >
                {{!-- <input type="text" required="required" id="technicalavidance" class="form-control" name="technicalavidance"   > --}}
            </div>
            <div class="form-group" >
                <label for="websitelink" >Website Link</label>
                <input type="text" required="required" id="websitelink" class="form-control" name="websitelink">
            </div>

            <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
    </div>
</div>