<div class="container-fluid row" style="margin-top: 50px;">
    <div class="col-md-6">
        <center>
        <img style="img img-responsive" src="/linked.jpg" height="400" width="520"/>
        </center>
    </div>
    
    <div class="col-md-6">
        <h1 style="font-size:50px;">E-Recruitment</h1>
        

        <h1 style="margin-top: 30px; font-size:40px;">What we do?</h1>
        <h4>Providing Jobs.</h4>
        <form action="/user/signup">
            <div style="margin-top: 100px; ">
                <h4 style="display: inline-block;">Want to connect with new professional people?</h4>&nbsp&nbsp <button style="display: inline-block; background-color: rgb(247, 122, 247); border: none; width: 100px;" class="btn btn-danger"> lets GO</button>
            </div>
        </form>
        
    </div>
</div> 